/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
}

body,
#app-root,
html {
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}